# Nome do seu workflow, que aparecer치 na aba "Actions" do GitHub
name: Java CI Build

# Define os gatilhos: quando este workflow deve rodar?
on:
  # Roda sempre que um Pull Request for aberto ou atualizado para o branch 'main'
  pull_request:
    branches: [ "main", "teste"]

# Define os "trabalhos" (jobs) a serem executados
jobs:
  build:
    # A m치quina virtual que o GitHub vai usar para rodar o job
    runs-on: ubuntu-latest

    # Os passos sequenciais que o job vai executar
    steps:
      # 1. Passo: Baixar o seu c칩digo do reposit칩rio
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Passo: Configurar o ambiente Java (JDK 21)
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Start PostgreSQL with Docker Compose
        env:
          POSTGRES_USER: ${{ secrets.DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_DB: ${{ secrets.DB_NAME }}
        run: docker compose up -d


      - name: Build and Test with Maven
        env:
          DB_URL: ${{ secrets.DB_URL }}
          DB_USERNAME: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

        run: ./mvnw -B verify

      - name: SonarQube scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        with:
          args: >
            -Dsonar.projectKey=PROJECT_KEY
            -Dsonar.organization=ORGANIZATION_KEY
            -Dsonar.host.url=https://sonarcloud.io
