# Nome do seu workflow
name: Java CI Build

# Define os gatilhos
on:
  pull_request:
    branches: [ "main", "teste" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:

      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: ${{ secrets.DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_DB: ${{ secrets.DB_NAME }}
        ports:
          - 5432:5432

    steps:
      # 1. Passo: Baixar o código
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Passo: Configurar o Java 21
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      # 3. Passo: Build and Test com Maven (Gera o relatório do JaCoCo)
      - name: Build and Test with Maven (Generates JaCoCo report)
        run: ./mvnw -B verify --file pom.xml

      # 4. Passo: SonarCloud Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.PROJECT_KEY }}
            -Dsonar.organization=${{ secrets.ORGANIZATION_KEY }}
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.java.coveragePlugin=jacoco
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
